.board button {
    width: 100px;
    height: 100px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    border: 4px solid black;
    /*this gets rid of bootstrap shadow*/
    margin: 1px;
}